.nobullets {
  list-style : none;
  }
  
/* TRBL*/

.center-text {
margin: 2%;
overflow: auto;

}

h2 {
text-align: center
}

.sidenav {
margin-top: 5%;
margin-right: 2%;
padding-right:2%;
}
  
/** Only for large screens, make the menu float on the left */
@media screen and (min-width: 50em) {
.sidenav {
float: left;
}
}

section, nav, header, div {
/* for debugging: */
/*border: 1px solid #f00;*/
}


.profile {
display: inline-block;
background-color: #cee0ed;
white-space: nowrap;
text-decoration: none;
padding: .4em .4em;
font-size: smaller;
}
